.cta {
  display: flex;
  flex-direction: row;
  gap: 20%;
  flex-wrap: wrap;
  align-items: center;

  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.625rem;

  .image__container {
    width: 40%;
  }

  .download {
    width: 40%;

    h2 {
      font-family: Avenir;
      font-style: normal;
      font-weight: 850;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.008em;
      text-transform: uppercase;
      color: #664ea4;
      margin: 12px 0px;
    }
    p {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 30px;
      text-transform: capitalize;
      color: #000000;
      margin: 12px 0px;
    }

    .download-images {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}
